.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/search-image.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

h1 {
  color: #fff;
  margin-bottom: 70px;
  font-size: 45px;
  letter-spacing: 2px;
  text-align: center;
}

.search-field {
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  outline: none;
}

.business {
  width: 400px;
}

.search-btn {
  height: 50px;
  width: 150px;
  background: #ffeb3b;
  border: none;
  color: #000;
  border-radius: 25px;
  margin-left: 20px;
}

.search-btn:hover {
  background: #ffc107;
  cursor: pointer;
}
.buttonSpaceIsBetter {
  margin-left: 10px;
}
.buttonsWrapper {
  margin-top: 10px;
}
.length {
  margin: 0;
  position: relative;
  top: 3px;
}
